In [1]:
import pandas as pd
import numpy  as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(r'C:\Users\Lenovo\Documents\KAGGLE\competitive-data-science-predict-future-sales\sales_train.csv')

In [6]:
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [7]:
shops = pd.read_csv(r'C:\Users\Lenovo\Documents\KAGGLE\competitive-data-science-predict-future-sales\shops.csv')

In [10]:
shops.shape

(60, 2)

In [11]:
train = df

In [24]:
train.head()

   date_block_num  shop_id  item_id  item_price  item_cnt_day
0               0        0       32       221.0           6.0
1               0        0       33       347.0           3.0
2               0        0       35       247.0           1.0
3               0        0       43       221.0           1.0
4               0        0       51       128.5           2.0

In [14]:
train['item_price']    = train['item_price'].abs()
train['item_cnt_day']  = train['item_cnt_day'].abs()

In [18]:
train['date_block_num'].value_counts()

11    143246
23    130786
2     121347
0     115690
1     108613
7     104772
6     100548
5     100403
12     99349
10     96736
8      96137
9      94202
3      94109
14     92733
4      91759
13     89830
24     88522
19     86614
22     86428
17     82408
21     79361
18     78760
16     78529
15     77906
20     73157
25     71808
26     69977
31     57029
27     56274
30     55549
29     54617
28     54548
33     53514
32     50588
Name: date_block_num, dtype: int64

In [19]:
train = train.drop('date',axis=1)

In [23]:
train = train.groupby(['date_block_num','shop_id','item_id']).agg({'item_price':'mean','item_cnt_day':'sum'}).reset_index()

In [25]:
train['shop_id'].value_counts()

31    99241
25    87977
54    70471
28    64639
57    59972
42    56861
27    48438
6     47250
56    43876
58    37954
21    36830
46    36659
19    36630
50    36203
35    34187
7     32700
26    32386
47    32033
15    31784
16    31303
30    30980
18    30594
53    30166
51    29890
24    29141
52    27855
29    27544
44    27085
38    26109
37    25699
41    25316
59    25088
22    24720
5     24108
4     23741
45    23156
14    22853
43    21720
12    20742
3     16827
2     15553
17    15125
10    14917
48    13580
55    12766
13    12105
49    11120
39     9781
32     5525
0      4821
23     4427
34     4135
33     3544
1      3282
8      2465
40     2235
9      1591
20      795
11      371
36      258
Name: shop_id, dtype: int64

In [26]:
df1 = pd.read_csv(r'C:\Users\Lenovo\Documents\KAGGLE\competitive-data-science-predict-future-sales\test.csv')

In [27]:
df1.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [29]:
test = df1

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<ipython-input-31-b649e504e1a0>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  item_price = train.groupby(['date_block_num','shop_id','item_id']['item_price'].last().reset_index().values)

TypeError: list indices must be integers or slices, not str